<div fxLayout="column" class="main-welcome">
    <div fxFlex>
        <h1 class="title">
         Contact Us <br />
          <span class="subtitle">
            We are a an application that cares about you reaching your goals!
          </span>
        </h1>
        </div>
  
        <div fxFlex>
  
          <div fxLayout="row" fxLayoutGap="15px" class="task-container">
  
            <!-- column in the row -->
            <div fxFlex>
              <mat-card class="mat-elevation-z0">
                <mat-card-title>
                  We are committed to your goals
                </mat-card-title>
  
                <mat-card-content>
                    <div fxLayout='row'>
                        <p>
                            We are an Australian based Company located on:
                            42 Wallaby Way, Sydney. 
                        </p>
                    </div>
                </mat-card-content>
              </mat-card>
            </div>
  
            <!-- column in the row -->
            <div fxFlex>
              <mat-card class="mat-elevation-z0">
                <mat-card-title>
                  Find us on Social Media Booktwit
                </mat-card-title>
  
                <mat-card-content>
  
                      <mat-card class="mat-elevation-z0 task-card">
                        <mat-card-content>
                          <div fxLayout="row">
                            <p>
                              Something
                            </p>
                          </div>
                        </mat-card-content>
                        
                      </mat-card>

                </mat-card-content>
  
              </mat-card>
            </div>
          </div>
  
        </div>
      </div>