<!-- /*
============================================
; Title:  nodebucket
; Author: Grayton Savickas
; Date:   28 Aug 2021
; Modified By:
; Description: 
;===========================================
*/ -->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>2319 Larry Bombas Ave.</p>
      <p>Omaha, Aksarben</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 866-666-6688</p>
      <p>Troll-free: 1-888-555-5577</p>
      <p>Fax: 866-666-6688</p>
      <p>Or</p>
      <p>Email: customer-feedback@node.org</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center">
        Please give us Call or Email us to leave some feedback.
    </p>
</div>