<!-- /**
 * Title: nodebucket
 * Author: Grayton Savickas
 * Date: 4 Sep 2021
 * Description: 404 page not found. Image credit to Henrik Nilsson at https://www.photographybyhenrik.com/ or https://www.photographybyhenrik.com/Birds/Owls/i-GcRrZcp Text edits by me.
 */ -->

 <div fxLayout="column" style="text-align: center; background-color: #ABA188;">
    <mat-card fxFlex style="margin-top: 4%; width: 50%; margin-left: 20%; background-color: #ABA188;" class="mat-elevation-z0">
      <mat-card-title style="background-color: #ABA188;">
        <img src="../../../assets/404-owl.jpg" alt="404">
      </mat-card-title>
  
      <mat-card-content style="text-align: center; background-color: #ABA188;">
        <button mat-raised-button color="accent" routerLink="/session/signin">Return Home</button>
      </mat-card-content>
    </mat-card>
  </div>
  