<!-- /*
============================================
; Title:  nodebucket
; Author: Grayton Savickas
; Date:   28 Aug 2021
; Modified By:
; Description: 
;===========================================
*/ -->
<br><br>

<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="align-center"> <strong>Nodebucket, reach your goals!</strong> </h2>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
        <!-- Source:Fresh Tech Tips: 14 Best Sticky Notes Applications for Professionals: https://www.freshtechtips.com/2011/05/best-sticky-notes-applications.html  -->
      <img src="../../../assets/sticky-notes.jpg"  style="height: 50%, auto;" >
    </div>
    <a href="https://www.freshtechtips.com/2011/05/best-sticky-notes-applications.html" class="img-attrib">FTT</a>
    <div class="col-sm-9">
        <Strong><h3>Who are we?</h3></Strong>
      <p>
        Here at Nodebucket we are committed to you and your goals. We believe that at everyone's core there are goals that keep you going.
        Sometimes we might have so many it is hard to keep track. That is where we come in! From keeping track of what you are currently working on, what is in the past 
        or looking to the future we got you covered. We have a state of the art system that safely and securely stores your data in the cloud. Our designs simple and 
        easy to understand. Don't worry you don't need create a todo to learn this app. You create and move your tasks from one list to another to your hearts content. 
        We here at Nodebucket understand your needs and have a responsive team that is always looking for user feedback and will consistently reach new hights as features 
        both improve and grow. 
        <br> <br>
        We started out with the understanding that sometimes a sticky note will just not do the trick. You often think of lists with check marks and underlines that 
        end up getting lost or misplaced. With Nodebucket you can rest assured that your goals are safe with us and will not be delete until you say so. 
        <br> <br>
        The best way to reach your goals is to make them as clear as possible. What priority are your tasks? What timelines exist? What is urgent, important or both?
        Well, the only way to get a home-run is to keep your eyes on the ball and with Nodebucket it is a sure thing!
      </p>
    </div>
  </div>
</div>