/*
============================================
; Title:  nodebucket
; Author: Grayton Savickas
; Date:   18 Aug 2021
; Modified By:
; Description: 
;===========================================
*/

.main-welcome {
    margin-top: 30px;
  }
  
  .title {
    text-align: center;
    font-weight: lighter;
  }
  
  .subtitle {
    text-align: center;
    font-size: 14px;
  }
  