<!-- /*
============================================
; Title:  nodebucket
; Author: Grayton Savickas
; Date:   18 Aug 2021
; Modified By:
; Description: 
;===========================================
*/ -->

<div fxLayout="column">

        <div fxFlex class="mat-elevation-z8 signin-container" >
            <mat-card> 
                <mat-card-title class="signin-title">
                    Employee Sign-in Page
                </mat-card-title>
                <br>
                <mat-card-subtitle class="signin-subtitle">
                    Please enter your Employee ID to continue
                </mat-card-subtitle>

                <mat-card-content>

                <!-- This form group control uses ngSubmit to enact the login() function so see if the employee id has been authorized -->
                <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">            
                    <form [formGroup]='form' (ngSubmit)='login(); form.reset();'>
                        <mat-card-content>
                            <!-- This field collects Employee Id to be tested -->
                            <mat-form-field >
                                <input type="text" matInput
                                    [formControl]= "form.controls['empId']"
                                    placeholder="Employee ID"
                                />

                                <!-- you stopped here -->
                                <mat-error *ngIf="form.controls['empId'].hasError('require') && form.controls['empId'].touched">
                                    Employee ID is a required field.
                                </mat-error>

                                <mat-error *ngIf="form.controls['empId'].hasError('pattern') && form.controls['empId'].touched">
                                    Employee ID must be a numerical value
                                </mat-error>

                                <mat-error *ngIf="error">
                                    {{ error }}
                                </mat-error>

                            </mat-form-field>
                        </mat-card-content>
                <!-- submit button -->
                         <mat-card-actions>
                            <button type="submit" fxFlex mat-raised-button colo="primary" [disabled]="!form.valid">Sign-in</button>
                        </mat-card-actions>
                    </form>
                </mat-card>        
             </mat-card-content>        
         </mat-card>
</div>

</div>