/*
============================================
; Title:  nodebucket
; Author: Grayton Savickas
; Date:   18 Aug 2021
; Modified By:
; Description: Creates styling for the sigin in page. Code from gpa exersice
;===========================================
*/

.signin-container{
    width: 35%;
    margin: 15% auto;
  }

.signin-title{
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

.signin-subtitle{
  text-align: center;
  font-weight: lighter;
}

  .msg-error{
    margin: 10px 0;
    padding: 12px;
    color: #D8000C;
    background-color: #FFD2D2;
  }

.signin-container > mat-card-title, mat-card-subtitle{
    text-align: center;
  }