<!-- /*
============================================
; Title:  nodebucket
; Author: Grayton Savickas
; Date:   5 Sep 2021
; Modified By:
; Description: Task elements
;===========================================
*/ -->

<h2 mat-dialog-title>Update task item</h2>

<mat-dialog-content [formGroup]="taskFormUpdate">
    <mat-form-field style="width: 200px;"   >
        <input type="text" placeholder="Enter a task name..." matInput formControlName="text" (keydown.enter)="updateTaskList()">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions algin="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [disabled]="!taskFormUpdate.valid" (click)="updateTaskList()">Update Task</button>
</mat-dialog-actions>